extends layout

block content
  div.loading Loading...
  div.warning
    div.content Please note: You are not seeing the full experience.
    div.note Please try a different device to get the best effect.
  img(src=imageUrl, alt=title, crossorigin="Anonymous")
